:root{
  --bgColor: #fff9f5;
  --textColor: #5e4b47;
  --logoColor: #d46a92;
  --footerColor: #7d4f50;
  --footerBg: #fddde6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: var(--bgColor);
  color: var(--textColor);
  line-height: 1.6;
}
/*linear gradient for the header*/
.header {
  background: linear-gradient(to right, #ffe6e6, #e6fff5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
a{
  text-decoration:none;
  color:var(--logoColor);
}
/*I used the hero letter as a logo*/
.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 2.2rem;
  color: var(--logoColor);
}
nav{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  width:400px;
}
/*i have added a hovering effect*/
nav a:hover{
  color:black;
  font-weight:bold;
}

.about-section {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about-section h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #c26c8d;
  margin-bottom: 20px;
}

.gallery {
  background: #fff0f3;
  padding: 60px 20px;
  text-align: center;
}

.gallery h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: #d88c9a;
  margin-bottom: 30px;
}

.photos {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.photos img {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.values {
  padding: 60px 20px;
  background-color: #fefaf1;
  text-align: center;
}

.values h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: #b76e79;
  margin-bottom: 40px;
}

.value-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.value-card {
  background: #fff;
  padding: 30px 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.value-card h3 {
  color: #cc6f7c;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.footer {
  background-color: var(--footerBg);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color:var(--footerColor);
}
